<div class="content-container container-fluid d-flex flex-column justify-content-center col col-md-6 mx-auto">
    <h1>Let's connect</h1>

    <form action="" method="post">

      <div class="input-group mb-3 d-flex">
        <div class="form-floating">
          <input type="text" id="firstname" class="form-control" placeholder="First Name" aria-label="First name">
          <label for="firstname">First Name</label>
        </div>
        <div class="form-floating">
          <input type="text" id="lastname" class="form-control" placeholder="Last Name" aria-label="Last name" aria-describedby="basic-addon1">
          <label for="firstname">Last Name</label>
        </div>
      </div>
      <div class="form-floating mb-3">
        <input type="email" id="email" class="form-control" placeholder="Email Address" aria-label="Email Address">
        <label for="email">Email Address</label>
      </div>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Message</label>
      </div>
    </form>
</div>
