<div id="footer" class="container-fluid w-100 my-auto m-0 p-0">
    <hr class="border-2 opacity-100 mb-2" style="color: #687864;"/>
    <div id="footer-container" class="d-flex justify-content-center align-items-center mb-2">
        <a href="https://www.github.com/dwstrong5/my-portfolio">
            <img id="gh-portfolio-mark" class="m-2"src="/assets/images/GitHub-Mark-64px.png" alt="GitHub logo." height="32px">
            Donald Warren Strong
        </a>
    </div>
</div>