<div class="greeting-container col-lg-6 my-4">
    <div class="hero-container d-flex flex-column flex-md-row justify-content-center align-items-center">
        <div class="headshot-container p-2 mx-3" style="background-color: #687864; border-radius: 150px;">
            <div class="headshot-image" style="height: 196px; width: 196px; background-size: cover; border-radius: 150px; background-image: url(../../assets/images/headshot.jpeg);"></div>
          </div>
        <h1 class="display-1 mx-md-2" style="font-size: 46pt; font-weight: 500">Hi! I'm Don.</h1>
    </div>
</div>
