<div class="greeting-container col-lg-6 m-2 mb-4">
    <div class="hero-container d-flex flex-column flex-md-row justify-content-start align-items-center">
        <div class="headshot-container p-2" style="background-color: #687864; border-radius: 150px;">
            <img src="../../assets/images/headshot.jpeg" alt="" srcset="" height="136px" style="border-radius: 150px;">
          </div>
        <h1 class="display-1 fw-bolder mx-md-5" style="font-size: 36pt">Hi! I'm Don.</h1>
    </div>
</div>