<div class="content-container">
    <div class="hero-container d-flex justify-content-center align-items-center">
        <div class="headshot-container p-2 m-5" style="background-color: #5085a5; border-radius: 150px;">
            <img src="../../assets/images/headshot.jpeg" alt="" srcset="" height="156px" style="border-radius: 150px;">
          </div>
        <h1 class="display-1 fw-bolder">Hi! I'm Don.</h1>
    </div>
</div>