#info-links {
    list-style: none;
    text-decoration: none;
    padding: 0;
}

h3 .active {
    color: #31708E;
}

#carousel-item-container {
    margin-left: 25%
}

@media only screen and (max-width: 1200px) {
    #carousel-item-container {
        margin-left: 12.5%;
    }
}