.blog-post-date {
    display: flex;
    align-items: center;
  }
  
  .blog-post-date::before,
  .blog-post-date::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
  }
  
  .blog-post-date:not(:empty)::before {
    margin-right: .5em;
    max-width:2rem;
  }
  
  .blog-post-date:not(:empty)::after {
    margin-left: 0.5em;
    flex:1
  }