<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="../../stylesheets/index.css">
</head>
<body>
    <header>
        <%- include('../partials/navbar'); %>
        <div class="greeting-container d-flex flex-column align-items-center justify-content-center">
            <%- include('../partials/greeting', { message: "Thanks, I'll be in touch soon." }); %>
        </div>
    </header>
    <div class="content-container d-flex flex-column align-items-center justify-content-start">
        

    </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>