<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="../../stylesheets/index.css">
</head>
<body>
    <header>
        <%- include('../partials/navbar'); %>
    </header>
    <div class="content-container d-flex flex-column align-items-center justify-content-center">
            <object style="height:100%; width: 80%;" data="https://dwstrong5.github.io/resume/">
            </object>
    </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>